.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
    padding: 2rem;
    background-color: #D1D3C4;
}

.wine-button {
    padding: 2rem 4rem;
    font-size: 1.5rem;
    border: 1px solid #966f6f;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    width: 220px;
}

.white-wine {
    background-color: #DFE0DC;
    color: rgb(48, 47, 47);
}

.red-wine {
    background-color: #722f37;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.wine-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}